<ul class="dropdown-menu">
  <li>
    <%= link_to I18n.t("messages.menu.team_squad"), "/" %>
    <%# TODO squad of team%>
  </li>
  <li>
    <%= link_to I18n.t("messages.menu.team_tactics"), "/" %>
    <%# TODO tactics of team%>
  </li>
  <li class="divider"></li>
  <li>
    <%= link_to I18n.t("messages.menu.team_finance"), "/" %>
    <%# TODO finance of team%>
  </li>
</ul>