body.leagues div.league > div.table-wrapper {
    margin: 20px;
}

body.leagues div.league > div.table-wrapper table {
    width: 100%;
}

body.leagues table {
    border: solid #000000 1px;
    border-radius: 5px;
}

body.leagues table td {
    padding-left: 5px;
    padding-right: 5px;
}

body.leagues table thead td {
    border-bottom: solid #000000 1px;
    font-weight: bold;
    background-color: #ffffff;
}

body.leagues table tr.promotion td {
    background-color: #66ff66;
}

body.leagues table tr.promotion.barage td {
    background-color: #ccffcc;
}

body.leagues table tr.relegation td {
    background-color: #ff9999;
}

body.leagues table tr.relegation.barage td {
    background-color: #ffcccc;
}