.player-position-select {
    width: 100px;
}

.player-position.disabled {
    color: #aaaaaa;
}

.predefined-lineups {
    width: 150px;
}

#pitch {
    margin: 20px;
    border: solid #000000 1px;
    background-color: #00aa00;
    height: 200px;
    position: relative;
}

#pitch .pitch-player {
    position: absolute;
    padding: 5px;
    background-color: #ffffff;
    border: solid #000000 1px;
}
